<div class="container-fluid bg-dark py-2">
    <div class="container">
        <p class="text-center text-light">© 2022 deomo. All Rights Reserved | Design And Developed By Techsoft</p>
    </div>
</div>